*{
	margin:0px;
	padding:0px;
 }

body{
background:#424949;
}

form{
	background:#333333;
	width:360px;
	border:1px solid #4E4D4D;
	border-radius:3px;
	box-shadow:inset 0 0 10px #000;
	margin:100px auto;
}
