<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  :host {
    display: block;
  }
</style>

<dom-module id="error-404">
  <template>
    <style>

      :host {
        display: block;
        font-family: Helvetica;
      }

      .container{
        width: 100%;
        max-width: 600px;
        padding: 1px 0;
        padding-top: 10px;
      }

      .container h1{
        color: white
      }

      .container hr{
        background: white
      }

      .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        height: auto;
        position:fixed;
        text-align:center;
        vertical-align: middle;
        top:200px;
        width: 60%;
        z-index:10000;
      }

      .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: 100%;
        max-width: 100%;
        min-height: 100px;
        vertical-align: middle;
        width: 100%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
      }

      a {
        color: white;
        font-size: 20px;
      }

    </style>
    <div class="container">
      <div class="hover_bkgr_fricc">
        <hr></hr>
        <h1> Se ha producido un error 404! </h1>
        <a href="[[rootPath]]">Click aquí para ir a la página de inicio.</a>
        <hr></hr>
    </div>
  </template>

  <script>
    class Error404 extends Polymer.Element {
      static get is() { return 'error-404'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(Error404.is, Error404);
  </script>
</dom-module>
