<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="user-lote">
<template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    :host{
      display: block;
      font-family: Helvetica;
    }

    .container{
      width: 100%;
      max-width: 600px;
      margin: 65px auto;
      padding: 100px 0;
      padding-top: 10px;
    }

    .container h3{
      color: white
    }

    .container hr{
      background: white
    }

    .container h4{
      padding: 20px, 20px;
      display: inline-block;
      font-family: Helvetica;
      color: white;
    }

    .container .table .thead-dark th{
      background:  #0672ca !important
    }

    .container .table-bordered th{
      background: white
    }

    .container .table-bordered td{
      background: white
    }

    .btn-primary{
      background: #0b8585!important;
    }

    .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        height: auto;
        position:fixed;
        text-align:center;
        vertical-align: middle;
        top:100px;
        width: 100%;
        z-index:10000;
      }

      .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: 100%;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 100%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
      }
    </style>

    <iron-ajax id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/[[id_contacto]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax auto="" id="getContactos"
      url="http://localhost:3201/api-uruguay/v1/contactos/[[id_user]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetContactos"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="postAltaSolicitud"
               url="http://localhost:3301/api-uruguay/v1/solicitudes/"
               body = {{requestBody}}               
               method="POST"
               content-type='application/json'
               handle-as="json"
               on-response="mostrarResultadoAltaSolicitud"
               on-error="mostrarError">
    </iron-ajax>
    
    <div class="container">
      <h3 class="col-md-5">Solicitar Pago</h3>
      <hr></hr>
      <table name="tableContacts" id="tableContacts" class="table table-bordered">
       <thead class="thead-dark">
         <tr> 
          <th scope="col">Nombre</th> 
          <th scope="col">Apellido</i></th>
          <th scope="col">Seleccionar</th>
          <th scope="col">Importe</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="datosContactos" items="{{datosContactos}}" as="datosContactos">
         
       <tr id = "1">
           <td id="first_name">{{datosContactos.first_name}}</td>
           <td id="last_name">{{datosContactos.last_name}}</td>
           <td><input type="checkbox" name="contacto" value="[[datosContactos.id_contacto]]" data-args$="{{index}}"> <!-- on-click="operativaVerTransferencias" data-args$="[[datosContactos.id_contacto]]" selected="true">Seleccionar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
           <td><input type="number" class="btnimpor" id="txtAImporte" aria-placeholder="Ingrese importe..."> </t>        
           </tr>
       </template>
     </table>
          <input type="button" class="btn-primary" id="btnEnviarLote" value="Enviar" on-click="realizarAltaSolicitud">
   </div>

   <paper-dialog id="dialogFinal" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h5 class="alert alert-success">Transferencia realizada con éxito!</h5>
      </div>
      <br></br>
      <button dialog-dismiss class="btn btn-primary" on-click="transferenciaExitosa" modal=false>aceptar</button>
      <br></br>
    </paper-dialog>
  </div>
   <app-location route="{{route}}"></app-location>
   <paper-dialog id="dialogAlert" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h6 class="alert alert-success">Confirma la transferencia?</h6>
        <p>Nombre Cuenta Destino: {{datosContactos.first_name}}</p>
        <p></p>
        <hr></hr>
        <p>Cuenta destino: [[target_id_account]]</p>
        <p>Nombre beneficiario: [[target_first_name]] [[target_last_name]]</p>
        <hr></hr>
        <p>Importe a transferir: [[amount]]</p>
      </div>
      <br></br>
      <button class="btn btn-primary" on-click="realizarTransferenciaDebito">aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" on-click="cancelarTransferencia">cancelar</button>
      <br></br>
    </paper-dialog>
</template>

    <script>

class UserLote extends Polymer.Element {
  static get is() { return 'user-lote'; }
  static get properties() {
    return {
      id_user:{
        type:String,
        value:sessionStorage.getItem("id_user")
      },
      first_name: {
        type: String
      },
      last_name: {
        type: String
      },
      id_contacto: {
        type: Number
      },
      datosContactos: {
        type: Array,
        value:[]
      },
      contactos: {
        type: Array,
        value:[]
      },
      requestBody: {
        type: String
      },
      id_cobra: {
        type:Number
      },
      amount:{
        type:Number
      },
      posicion:{
        type:Number
      },
      index:{
        type: Number
      }
    }
  };
  
  
     mostrarResultadoGetUsers(resultadoGetUser) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
         
          this.first_name = resultadoGetUser.detail.response[0].first_name;
          this.last_name = resultadoGetUser.detail.response[0].last_name;
  
          this.push('datosContactos', {"first_name": this.first_name, "last_name": this.last_name, "id_contacto": this.id_contacto});
         console.log("LLegue")
      };


      mostrarError(error) {
          if (error.status = 205) {
            this.errorlogin = false
          } else {
            alert(error)
          };
      };
      mostrarResultadoAltaSolicitud(resultadoAltaSolicitud){
        console.log(resultadoAltaSolicitud.detail.response)
        this.$.dialogFinal.open();
      };


      mostrarResultadoGetContactos(resultadoGetContactos){
         this.contactos = [];
         this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          console.log("Recibidos datos de contactos");
          this.contactos= resultadoGetContactos.detail.response;
          console.log(resultadoGetContactos.detail.response);
          for (var x=0; x<(this.contactos.length); x++){
            this.id_contacto = this.contactos[x].id_contacto;
            this.$.getUsers.generateRequest();
            console.log(this.id_contacto)
        }
      }

        ejecutarGetUsers() {
          this.id_user = sessionStorage.getItem("id_user");
          datosContactos = []
          this.$.getUsers.generateRequest();
          };


        realizarAltaSolicitud() {
          let fecha = new Date();
          let actualDate = fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();
          let idTransaction = 15
          this.id_cobra=this.id_user
          this.requestBody = {
              "id_solicitud": idTransaction,
              "fecha": actualDate,
              "id_cobrador": this.id_cobra,
              "id_pagador": this.id_contacto,
              "importe": +200,
              "estado": "P"
            };
            console.log(this.requestBody)
            this.$.postAltaSolicitud.generateRequest();
        };

        transferenciaExitosa(){
          
          this.$.dialogFinal.close();
          
        }
      }
  
    window.customElements.define(UserLote.is, UserLote);
  </script>
</dom-module>
