<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="user-contacts">
<template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    :host{
      display: block;
      font-family: Helvetica;
    }

    .container{
      width: 100%;
      max-width: 600px;
      margin: 65px auto;
      padding: 100px 0;
      padding-top: 10px;
    }

    .container h3{
      color: white
    }

    .container hr{
      background: white
    }

    .container h4{
      padding: 20px, 20px;
      display: inline-block;
      font-family: Helvetica;
      color: white;
    }

    .container .table .thead-dark th{
      background:  #0672ca !important
    }

    .container .table-bordered th{
      background: white
    }

    .container .table-bordered td{
      background: white
    }

    .btn-primary{
      background: #0b8585!important;
    }

    </style>

    <iron-ajax id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/[[id_contacto]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax auto="" id="getContactos"
      url="http://localhost:3201/api-uruguay/v1/contactos/[[id_user]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetContactos"
      on-error="mostrarError">
    </iron-ajax>

    <div class="container">
      <h3 class="col-md-5">Contactos</h3>
      <hr></hr>
      <table name="tableContacts" id="tableContacts" class="table table-bordered">
       <thead class="thead-dark">
         <tr>
          <th scope="col">Nombre</th> 
          <th scope="col">Apellido</i></th>
         </tr>
       </thead>
       <template is="dom-repeat" id="datosContactos" items="{{datosContactos}}" as="datosContactos">
         <tr id = "1">
           <td id="first_name">{{datosContactos.first_name}}</td>
           <td id="last_name">{{datosContactos.last_name}}</td>
         </tr>
       </template>
     </table>
     <button id = "btnAgregar" class="btn btn-primary" on-click="eventoAgregar" data-args$="[[id_user]]">Agregar contacto</button>
   </div>

   <app-location route="{{route}}"></app-location>

</template>

    <script>

      class UserContacts extends Polymer.Element {
        static get is() { return 'user-contacts'; }
        static get properties() {
          return {
            id_user:{
              type:String,
              value:sessionStorage.getItem("id_user")
            },
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            id_contacto: {
              type: Number
            },
            datosContactos: {
              type: Array,
              value:[]
            },
            contactos: {
              type: Array,
              value:[]
            }
          };
        }

        mostrarResultadoGetUsers(resultadoGetUser) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
         
          this.first_name = resultadoGetUser.detail.response[0].first_name;
          this.last_name = resultadoGetUser.detail.response[0].last_name;
  
          this.push('datosContactos', {"first_name": this.first_name, "last_name": this.last_name});
         console.log("LLegue")
        }

        mostrarError(error) {
          if (error.status = 205) {
            this.errorlogin = false
          } else {
            alert(error)
          };
        }

        mostrarResultadoGetContactos(resultadoGetContactos){
         this.contactos = [];
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          console.log("Recibidos datos de contactos");
          this.contactos= resultadoGetContactos.detail.response;
          console.log(resultadoGetContactos.detail.response);
          for (var x=0; x<(this.contactos.length); x++){
            this.id_contacto = this.contactos[x].id_contacto;
            console.log(this.id_contacto)
            this.$.getUsers.generateRequest();
          }
        }


        ejecutarGetUsers() {
          this.id_user = sessionStorage.getItem("id_user");
          datosContactos = []
          this.$.getUsers.generateRequest();
        }

    }

    window.customElements.define(UserContacts.is, UserContacts);
  </script>
</dom-module>
