<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="pwd-change">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style include="shared-styles">

      :host {
        display: block;
        font-family: Helvetica;
      }

      .container{
        width: 100%;
        max-width: 600px;
        margin: 65px auto;
        padding: 100px 0;
        padding-top: 10px;
      }

      .container .btn-outline-success{
        background: white;
        color: black;
        border-color:#0b8585
      }

      .container .btn-outline-success:hover {
       background-color: #0b8585
      }

      .container h4{
        padding: 20px, 20px;
        display: inline-block;
        font-family: Helvetica;
        color: white;
      }

      .btn-primary{
        background: #0b8585!important;
      }

     .container h3{color: white}
     .container hr{background: white}

     label {
       color: white
     }

     .hover_bkgr_fricc{
       background:rgba(0,0,0,.4);
       cursor:pointer;
       height: auto;
       position:fixed;
       text-align:center;
       vertical-align: middle;
       top:100px;
       width: 100%;
       z-index:10000;
     }

     .hover_bkgr_fricc > div {
       background-color: #fff;
       box-shadow: 10px 10px 60px #555;
       display: inline-block;
       height: 100%;
       max-width: 551px;
       min-height: 100px;
       vertical-align: middle;
       width: 100%;
       position: relative;
       border-radius: 8px;
       padding: 15px 5%;
     }
    </style>

    <iron-ajax auto="" id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/{{id_user}}"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="modificarPassword"
      url="http://localhost:3101/api-uruguay/v1/change-password"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="mostrarResultadoModificarPassword"
      on-error="mostrarErrorModifcarPassword">
    </iron-ajax>

    <div class="container">
      <h3>Cambio de contraseña</h3>
      <hr></hr>
      <h4 class="col-md-5">Id Usuario: [[id_user]]</h4>
      <h4 class="col-md-5">Nombre: [[first_name]] [[last_name]]</h4>
      <hr></hr>
      <label for="passwordAnterior">Contraseña anterior</label></br>
      <input  type="password" class="form-control" id="passwordAnterior" placeholder="Ingrese su contraseña actual" value="{{passwordActual::input}}"></br>
      <label for="passwordNuevo">Nueva contraseña</label></br>
      <input  type="password" class="form-control" id="passwordNuevo" placeholder="Ingrese su nueva contraseña" value="{{newPassword::input}}"></br>
      <label for="passwordConfirmar">Repite nueva contraseña</label></br>
      <input  type="password" class="form-control" id="passwordConfirmar" placeholder="Reingrese su nueva contraseña" value="{{confirmPassword::input}}"></br>
      <button hidden$=[[inhabilitaModificar]] class="btn btn-primary" on-click="verficarDatosIngresados">modificar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button hidden$=[[inhabilitaModificar]] class="btn btn-primary" on-click="ejecutarVolver">volver</button></br>
      <br></br>
    </div>

    <paper-dialog id="dialogPopup" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h6 class="alert alert-danger">Error en ingreso de datos!</h6>
        <p>[[mensajeDialogPopUp1]]</p>
      </div>
      <br></br>
      <button dialog-dismiss class="btn btn-primary" on-click="mostrarAceptar" modal=false>aceptar</button>
      <br></br>
    </paper-dialog>

    <paper-dialog id="dialogFinal" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h5 class="alert alert-success">Contraseña modificada correctamente!</h5>
      </div>
      <br></br>
      <button dialog-dismiss class="btn btn-primary" on-click="ejecutarVolver" modal=false>aceptar</button>
      <br></br>
    </paper-dialog>

    <app-location route="{{route}}"></app-location>

  </template>

  <script>

    class PwdChange extends Polymer.Element {
      static get is() { return 'pwd-change'; }
        static get properties() {
          return {
            "id_user": {
              type: String,
              value:sessionStorage.getItem("id_user")
            },
            "email": {
              type: String,
              value:sessionStorage.getItem("email")
            },
            "first_name": {
              type: String
            },
            "last_name": {
              type: String
            },
            "passwordActual": {
              type: String
            },
            "newPassword": {
              type: String
            },
            "confirmPassword": {
              type: String
            },
            "mensajeDialogPopUp1": {
              type: String
            },
            "ihabilitaModificar": {
              type: Boolean,
              value: false
            }
          };
        };

        mostrarResultadoGetUsers(resultadoGet) {
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          this.id_user = resultadoGet.detail.response[0].id_user;
          this.first_name = resultadoGet.detail.response[0].first_name;
          this.last_name = resultadoGet.detail.response[0].last_name;
          this.email = resultadoGet.detail.response[0].email;
        };

        mostrarResultadoModificarPassword(resultado) {
          this.$.dialogPopup.close();
          this.ihabilitaModificar = false;
          this.passwordActual = "";
          this.newPassword = "";
          this.confirmPassword = "";
          this.$.dialogFinal.open();
        };

        ejecutarModificarPassword() {
          this.ihabilitaModificar = true;
          this.email = sessionStorage.getItem("email");
          var modificarPwd = {
            "email" : this.email,
            "password" : this.passwordActual,
            "newPassword" : this.newPassword
          };
          this.$.modificarPassword.body = modificarPwd;
          this.$.modificarPassword.generateRequest();
        };

        mostrarErrorModifcarPassword(errorPwd) {
          if (errorPwd.status = 401) {
            this.ihabilitaModificar = false;
            this.mensajeDialogPopUp1 = "La contraseña ingresada NO ES CORRECTA";
            this.$.dialogPopup.open();
          } else {
            alert(errorPwd);
          };
        };

        mostrarError(error) {
          if (error.status = 205) {
            console.log(error);
          } else {
            alert(error);
          };
        };

        verficarDatosIngresados() {
          if (this.newPassword !== this.confirmPassword) {
            this.mensajeDialogPopUp1 = "La contraseña REINGRESADA y la NUEVA contraseña NO COINCIDEN.";
            this.$.dialogPopup.open();
          } else {
            if (this.newPassword.length < 6) {
              this.mensajeDialogPopUp1 = "La NUEVA contraseña debe tener un de largo MÍNIMO de 6 caracteres.";
              this.$.dialogPopup.open();
            } else {
              this.ejecutarModificarPassword();
            };
          };
        }

        ejecutarVolver() {
          this.$.dialogFinal.close();
          this.$.dialogPopup.close();
          this.ihabilitaModificar = false;
          this.passwordActual = "";
          this.newPassword = "";
          this.confirmPassword = "";
          this.set('route.path', '/user-data');
        }

        mostrarAceptar() {
          this.ihabilitaModificar = false;
          this.$.dialogFinal.close();
          this.$.dialogPopup.close();
        }

    }
    
    window.customElements.define(PwdChange.is, PwdChange);
  </script>
</dom-module>
