<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="user-data">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style include="shared-styles">

      :host {
        display: block;
        font-family: Helvetica;
      }

      .container{
        width: 100%;
        max-width: 600px;
        margin: 65px auto;
        padding: 100px 0;
        padding-top: 10px;
      }

      .container .btn-outline-success{
        background: white;
        color: black;
        border-color:#0b8585
      }

      .container .btn-outline-success:hover {
       background-color: #0b8585
      }

      .btn-primary{
        background: #0b8585!important;
      }

     .container h3{color: white}
     .container hr{background: white}

     label {color: white}

     .hover_bkgr_fricc{
       background:rgba(0,0,0,.4);
       cursor:pointer;
       height: auto;
       position:fixed;
       text-align:center;
       vertical-align: middle;
       top:100px;
       width: 100%;
       z-index:10000;
     }

     .hover_bkgr_fricc > div {
       background-color: #fff;
       box-shadow: 10px 10px 60px #555;
       display: inline-block;
       height: 100%;
       max-width: 551px;
       min-height: 100px;
       vertical-align: middle;
       width: 100%;
       position: relative;
       border-radius: 8px;
       padding: 15px 5%;
     }

    </style>

    <iron-ajax auto="" id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/{{id_user}}"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="updateUsers"
      url="http://localhost:3201/api-uruguay/v1/users/{{id_user}}"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="mostrarResultadoUpdateUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="hacerLogin"
      url="http://localhost:3101/api-uruguay/v1/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

    <div class="container">
      <h3 hidden$=[[!muestra-datos]]>[[textoHeader]]</h3>
      <hr></hr>
      <label for="id_user">ID Usuario</label></br>
      <input disabled="true" type="id_user" class="form-control" id="id_user"  placeholder="Ingrese su usuario" value="{{id_user::input}}"></br>
      <label for="first_name">Nombre</label></br>
      <input disabled=[[muestradatos]] type="first_name" class="form-control" id="first_name"  placeholder="Ingrese su nombre" value="{{first_name::input}}"></br>
      <label for="last_name">Apellido</label></br>
      <input disabled=[[muestradatos]] type="last_name" class="form-control" id="last_name"  placeholder="Ingrese su apellido" value="{{last_name::input}}"></br>
      <label for="email">Email</label></br>
      <input disabled=[[muestradatos]] type="email" class="form-control" id="email"  placeholder="Ingrese su email" value="{{email::input}}"></br>
      <button hidden$=[[!muestradatos]] class="btn btn-primary" on-click="habilitarModificacion">modificar</button>
      <button hidden$=[[!habilitaModificar]] class="btn btn-primary" on-click="modificarUsuario">aceptar</button></br>
      <br></br>
    </div>

    <paper-dialog id="dialogFinal" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h5 class="alert alert-success">Datos de usuario modificados correctamente!</h5>
      </div>
      <br></br>
      <button dialog-dismiss class="btn btn-primary" on-click="verDatos" modal=false>aceptar</button>
      <br></br>
    </paper-dialog>
  </template>

  <script>

    class UserData extends Polymer.Element {
      static get is() { return 'user-data'; }
        static get properties() {
          return {
            "id_user": {
              type: String,
              value:sessionStorage.getItem("id_user")
            },
            "first_name": {
              type: String
            },
            "last_name": {
              type: String
            },
            "email": {
              type: String
            },
            "accounts": {
              type: Array
            },
            "logged": {
              type: String
            },
            "textoHeader": {
              type: String,
              value: "Datos Usuario"
            },
            "muestradatos": {
              type: Boolean,
              value: true
            },
            "habilitaModificar": {
              type: Boolean,
              value: false
            }
          };
        };

        mostrarResultadoGetUsers(resultadoGet) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          this.id_user = resultadoGet.detail.response[0].id_user;
          this.first_name = resultadoGet.detail.response[0].first_name;
          this.last_name = resultadoGet.detail.response[0].last_name;
          this.email = resultadoGet.detail.response[0].email;
          this.password = resultadoGet.detail.response[0].password;
          this.accounts = resultadoGet.detail.response[0].accounts;
          this.logged = resultadoGet.detail.response[0].logged;
        };

        mostrarResultadoUpdateUsers(resultadoUpdate) {
          console.log("Usuario modificado exitosamente.");
          this.$.dialogFinal.open()
          this.$.hacerLogin.body = {"email" : this.email, "password" : this.password};
          this.$.hacerLogin.generateRequest();
        };

        mostrarResultadoLogin(resultado) {
          sessionStorage.setItem("id_user", this.id_user);
          sessionStorage.setItem("email", this.email);
        };

        mostrarError(error) {
            if (error.status = 205) {
              this.errorlogin = false;
            } else {
              alert(error);
            };
        };

        habilitarModificacion() {
          this.textoHeader = "Modificar Usuario";
          this.muestradatos = false;
          this.habilitaModificar = true;
        }

        verDatos() {
          this.textoHeader = "Datos Usuario";
          this.muestradatos = true;
          this.habilitaModificar = false;
        }

        modificarUsuario(resultadoUpdateUser) {
          this.textoHeader = "Datos Usuario";
          this.muestradatos = true;
          this.habilitaModificar = false;
          var modificarDatos = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "email" : this.email,
            "password" : this.password,
            "accounts" : this.accounts,
            "logged" : this.logged
            };
          this.$.updateUsers.body = modificarDatos;
          this.$.updateUsers.generateRequest();
        }

    }

    window.customElements.define(UserData.is, UserData);
  </script>
</dom-module>
