<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="logout-user">
  <template>
      <style>
      </style>

      <iron-ajax auto="" id="hacerLogout"
                 url="http://localhost:3101/api-uruguay/v1/logout"
                 body = {{requestBody}}
                 method="POST"
                 content-type='application/json'
                 handle-as="json"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarError">
      </iron-ajax>

     <app-location route="{{route}}"></app-location>

  </template>

  <script>

    class LogoutUser extends Polymer.Element {
      static get is() { return 'logout-user'; }
      static get properties() {
        return {
          "email": {
            type: String,
            value:sessionStorage.getItem("email")
          },
          "logado": {
            type: Boolean,
            value: false
          },
          "id_user": {
            type: String
          },
          "errorlogout": {
            type: Boolean,
            value: true
          },
          "requestBody": {
            type: String,
            value: {"email": sessionStorage.getItem("email")}
          }
        };
      }

      mostrarResultadoLogout(resultado) {
      console.log(resultado);
      this.email = "";
      this.password = "";
      this.logado = false;
      sessionStorage.clear();
      this.dispatchEvent(new CustomEvent('LogOutExitoso', {detail:{menuVisible:false}}));
      }

      mostrarError(error) {
        console.log(error)
        console.log(this.email)
        console.log(this.requestBody)
        if (error.status = 205) {
          this.errorlogout = false
          } else {
            alert(error)
          };
        this.email = "";
        this.password = "";
        this.logado = false;
        sessionStorage.clear();
        this.dispatchEvent(new CustomEvent('LogOutExitoso', {detail:{menuVisible:false}}));
      }
    }

    window.customElements.define(LogoutUser.is, LogoutUser);
  </script>
</dom-module>
