<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../app-icons/app-icons.html">

<link rel="lazy-import" href="../login-user/login-user.html">
<link rel="lazy-import" href="../user-accounts/user-accounts.html">
<link rel="lazy-import" href="../account-trans/account-trans.html">
<link rel="lazy-import" href="../transfer-execute/transfer-execute.html">
<link rel="lazy-import" href="../pwd-change/pwd-change.html">
<link rel="lazy-import" href="../logout-user/logout-user.html">
<link rel="lazy-import" href="../error-404/error-404.html">
<link rel="lazy-import" href="../user-lote/user-lote.html">
<link rel="lazy-import" href="../user-confirm/user-confirm.html">
<link rel="lazy-import" href="../user-confirm/user-transf.html">

<dom-module id="main-menu">
  <template>
    <style>
      :host {
        --app-primary-color: white;
        --app-secondary-color: black;
        display: block;
        font-family: Helvetica;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
        background-color: var(--app-primary-color);
      }

      .drawer-list a {
        font-family: Helvetica;
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
        background-color: #D1F2EB;
      }

      .enlace {
        display:inline;
        border:0;
        padding:0;
        margin:0;
        text-decoration:underline;
        background:none;
        font-size: 16px;
        color:white;
        font-size: 16px;
        line-height:1em;
      }

      .enlace:hover {
        text-decoration:none;
        color:#0000cc;
        cursor:pointer;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Contenido del Menú de Navegación -->
      <app-drawer hidden$="{{!menuVisible}}" id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <!--<a name="user-data" href="[[rootPath]]user-data">Datos Usuario</a>
          <a name="user-accounts" href="[[rootPath]]user-accounts">Cuentas</a>
          <a name="account-trans" href="[[rootPath]]account-trans">Transacciones</a>-->
          <a name="user-data" href="[[rootPath]]user-data">Inicio</a>
          <a name="user-contacts" href="[[rootPath]]user-contacts">Contactos</a>
          <a name="user-lote" href="[[rootPath]]user-lote">Solicitar pago</a>
          <a name="user-transf" href="[[rootPath]]user-transf">Transferir</a>
          <a name="user-confirm" href="[[rootPath]]user-confirm">Solicitudes</a>
          <a name="logout-user" href="[[rootPath]]logout-user">Salir</a>
        </iron-selector>
      </app-drawer>

      <!-- Contenido Principal: se oculta el mismo durante el Login de Usuario -->
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar hidden$="{{!menuVisible}}">
            <paper-icon-button icon="app-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>
              <img src='../../img/Sin título.png' style="width: 5%">
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="error-404"
            role="main">
          <login-user name="login-user" id="loginUser"></login-user>
          <user-data name="user-data" id="userData"></user-data>
          <user-lote name="user-lote" id="userLote"></user-lote>
          <user-contacts name="user-contacts" id="userContacts"></user-contacts>
          <user-confirm name="user-confirm" id="userConfirm"></user-confirm>
          <user-transf name="user-transf" id="userTransf"></user-transf>
          <transfer-execute name="transfer-execute" id="transferExecute"></transfer-execute>
          <pwd-change name="pwd-change" id="pwdChange"></pwd-change>
          <logout-user name="logout-user" id="logoutUser"></logout-user>
          <error-404 name="error-404"></error-404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MainMenu extends Polymer.Element {
      static get is() { return 'main-menu'; }
      static get properties() {
        return {
          "menuVisible": {
            type: Boolean,
            value:false
          },
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
          routeData: Object,
          subroute: Object,
          rootPath: String
        };
      }

      ready(){
        super.ready()
        this.$.loginUser.addEventListener('MenuVisible', e => {this.procesarEventoLogin(e)})
        this.$.logoutUser.addEventListener('LogOutExitoso', e => {this.procesarEventoLogout(e)})
        this.$.pwdChange.addEventListener('MenuVisible', e => {this.procesarEventoReload(e)})
        this.$.userData.addEventListener('MenuVisible', e => {this.procesarEventoReload(e)})
        this.$.userAccounts.addEventListener('MenuVisible', e => {this.procesarEventoReload(e)})
        this.$.userAccounts.addEventListener('VerTransacciones', e => {this.procesarEventoVerTransacciones(e)})
        this.$.userAccounts.addEventListener('EjecutarTransferencia', e => {this.procesarEventoEjecutarTransferencia(e)})
        this.$.accountTrans.addEventListener('MenuVisible', e => {this.procesarEventoReload(e)})
        this.$.transferExecute.addEventListener('MenuVisible', e => {this.procesarEventoReload(e)})
        this.$.transferExecute.addEventListener('VerCuentas', e => {this.procesarEventoVerCuentas(e)})
      };

      procesarEventoLogin(e){
        this.menuVisible = e.detail.menuVisible;
      }

      procesarEventoLogout(e){
        this.menuVisible = e.detail.menuVisible;
        this.set('route.path', '/login-user');
        location.reload();
      }

      procesarEventoReload(e){
        this.menuVisible = e.detail.menuVisible;
      }

      procesarEventoVerCuentas(e){
        this.$.userAccounts.ejecutarGetUsers();
        this.set('route.path', '/user-accounts');
      }

      procesarEventoVerTransacciones(e){
        sessionStorage.setItem("id_account", e.detail.id_account);
        this.set('route.path', '/account-trans');
        this.$.accountTrans.ejecutarGetAccounts();
      }

      procesarEventoEjecutarTransferencia(e){
        sessionStorage.setItem("origin_id_account",e.detail.origin_id_account);
        this.set('route.path', '/transfer-execute');
        this.$.transferExecute.ejecutarGetUsers();
      }

      cambiarPassword(){
        this.set('route.path', '/pwd-change');
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        this.page = page || 'login-user';

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        };
      }

      _pageChanged(page) {
        // Se carga la pàgina seleccionada. En caso de fallar la carga, muestra la página error-404.html.
        const resolvedPageUrl = this.resolveUrl('../' + page + '/' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'error-404';
      }

    }

    window.customElements.define(MainMenu.is, MainMenu);
  </script>
</dom-module>
