<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="transfer-execute">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style include="shared-styles">

      :host {
        display: block;
        font-family: Helvetica;
      }
      .container{
        width: 100%;
        max-width: 600px;
        margin: 65px auto;
        padding: 100px 0;
        padding-top: 10px;
      }

      .container .btn-outline-success{
        background: white;
        color: black;
        border-color:#0b8585
      }

      .container .btn-outline-success:hover {
       background-color: #0b8585
      }

      .btn-primary{
        background: #0b8585!important;
      }

      .container h3{
        color: white
      }

      .container hr{
        background: white
      }

      label {
        color: white
      }

      .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        height: auto;
        position:fixed;
        text-align:center;
        vertical-align: middle;
        top:100px;
        width: 100%;
        z-index:10000;
      }

      .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: 100%;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 100%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
      }

    </style>

    <iron-ajax auto="" id="getOriginUser"
       url="http://localhost:3201/api-uruguay/v1/users/[[origin_id_user]]"
       method="GET"
       content-type='application/json'
       handle-as="json"
       on-response="mostrarResultadoGetOriginUser"
       on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="getOriginAccount"
       url="http://localhost:3301/api-uruguay/v1/accounts/[[origin_id_account]]"
       method="GET"
       content-type='application/json'
       handle-as="json"
       on-response="mostrarResultadoGetOriginAccount"
       on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="getTargetUser"
       url="http://localhost:3201/api-uruguay/v1/users/[[target_id_user]]"
       method="GET"
       content-type='application/json'
       handle-as="json"
       on-response="mostrarResultadoGetTargetUser"
       on-error="mostrarErrorTargetUser">
    </iron-ajax>

    <iron-ajax id="getTargetAccount"
       url="http://localhost:3301/api-uruguay/v1/accounts/[[target_id_account]]"
       method="GET"
       content-type='application/json'
       handle-as="json"
       on-response="mostrarResultadoGetTargetAccount"
       on-error="mostrarErrorTargetAccount">
    </iron-ajax>

    <iron-ajax id="postTransferenciaDebito"
               url="http://localhost:3301/api-uruguay/v1/accounts/[[origin_id_account]]/transactions"
               body = {{requestBody}}
               method="POST"
               content-type='application/json'
               handle-as="json"
               on-response="mostrarResultadoTransferenciaDebito"
               on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="postTransferenciaCredito"
               url="http://localhost:3301/api-uruguay/v1/accounts/[[target_id_account]]/transactions"
               body = {{requestBody}}
               method="POST"
               content-type='application/json'
               handle-as="json"
               on-response="mostrarResultadoTransferenciaCredito"
               on-error="mostrarErrorTransferenciaCredito">
    </iron-ajax>

    <div class="container">
      <h3>Transferencia entre cuentas</h3>
      <hr></hr>
      <label for="id_account">ID Cuenta Origen</label></br>
      <input type="number" disabled="true" class="form-control" id="origin_id_account"  placeholder="Cuenta origen" value="{{origin_id_account::input}}"></br>
      <label for="full_name">Nombre</label></br>
      <input type="first_name" disabled="true" class="form-control" id="full_name"  placeholder="Nombre completo" value="{{origin_first_name::input}} {{origin_last_name::input}}"></br>
      <label for="target_id_account">ID Cuenta Destino</label></br>
      <input type="number" class="form-control" id="target_id_account"  placeholder="Ingrese cuenta beneficiaria" value="{{target_id_account::input}}" required></br>
      <label for="target_name">Nombre beneficiario</label></br>
      <input type="name" disabled="true" class="form-control" id="target_name"  placeholder="Nombre beneficiario" value="{{target_first_name::input}} {{target_last_name::input}}"></br>
      <label for="amount">Importe a transferir</label></br>
      <input type="number" class="form-control" id="amount" placeholder="Ingrese importe de la transferencia" value="{{amount::input}}" required></br>
      <button hidden$=[[aceptarInhabilitado]] class="btn btn-primary" on-click="verificarDatosTransferenciaAmount">aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button hidden$=[[aceptarInhabilitado]] class="btn btn-primary" on-click="ejecutarVolver">volver</button>
      <br></br>

      <paper-dialog id="dialogAlert" class="hover_bkgr_fricc" alt="Responsive card">
        <div>
          <h6 class="alert alert-success">Confirma continuar?</h6>
          <p>Cuenta origen: [[origin_id_account]]</p>
          <p>Nombre emisor: [[origin_first_name]] [[origin_last_name]]</p>
          <hr></hr>
          <p>Cuenta destino: [[target_id_account]]</p>
          <p>Nombre beneficiario: [[target_first_name]] [[target_last_name]]</p>
          <hr></hr>
          <p>Importe a transferir: [[amount]]</p>
        </div>
        <br></br>
        <button class="btn btn-primary" on-click="realizarTransferenciaDebito">aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" on-click="cancelarTransferencia">cancelar</button>
        <br></br>
      </paper-dialog>

      <paper-dialog id="dialogPopup" class="hover_bkgr_fricc" alt="Responsive card">
        <div>
          <h6 class="alert alert-danger">Error en ingreso de datos!</h6>
          <p>[[mensajeDialogPopUp1]]</p>
        </div>
        <br></br>
        <button dialog-dismiss class="btn btn-primary" on-click="mostrarAceptar" modal=false>aceptar</button>
        <br></br>
      </paper-dialog>

      <paper-dialog id="dialogFinal" class="hover_bkgr_fricc" alt="Responsive card">
        <div>
          <h5 class="alert alert-success">Transferencia realizada con éxito!</h5>
        </div>
        <br></br>
        <button dialog-dismiss class="btn btn-primary" on-click="transferenciaExitosa" modal=false>aceptar</button>
        <br></br>
      </paper-dialog>
    </div>

    <app-location route="{{route}}"></app-location>

  </template>

  <script>

    class TransferExecute extends Polymer.Element {
      static get is() { return 'transfer-execute'; }
        static get properties() {
          return {
            "origin_id_user": {
              type: String,
              value:sessionStorage.getItem("id_user")
            },
            "origin_first_name": {
              type: String
            },
            "origin_last_name": {
              type: String
            },
            "origin_id_account": {
              type: String,
              value:sessionStorage.getItem("origin_id_account")
            },
            "origin_balance": {
              type: Number
            },
            "origin_transactions": {
              type: Array
            },
            "target_id_user": {
              type: String
            },
            "target_first_name": {
              type: String
            },
            "target_last_name": {
              type: String
            },
            "target_id_account": {
              type: String
            },
            "target_balance": {
              type: Number
            },
            "target_transactions": {
              type: Array
            },
            "amount": {
              type: Number,
              value: 0
            },
            "mensajeDialogAlert": {
              type: String
            },
            "error_target_id_account": {
              type: Boolean,
              value: false
            },
            "error_amount": {
              type: Boolean,
              value: false
            },
            "mensajeDialogPopUp1": {
              type: String
            },
            "mensajeDialogPopUp2": {
              type: String
            },
            "aceptarInhabilitado": {
              type: Boolean,
              value: false
            },
            "mensajeExitoso": {
              type: Boolean,
              value: false
            },
            "requestBody": {
              type: String
            }
          };
        }

        mostrarResultadoGetOriginUser(resultadoGetUser) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          let resultadoUser = resultadoGetUser.detail.response[0];
          this.origin_first_name = resultadoUser.first_name;
          this.origin_last_name = resultadoUser.last_name;
          console.log("Datos Usuario_Origen recibidos.");
        }

        mostrarResultadoGetOriginAccount(resultadoGetAccount){
          let resultadoAccount = resultadoGetAccount.detail.response[0];
          this.origin_balance = resultadoAccount.balance;
          this.origin_transactions = resultadoAccount.transactions;
          console.log("Datos Cuenta_Origen recibidos.");
          this.verificarDatosTransferenciaOriginAccount();
        }

        mostrarResultadoGetTargetUser(resultadoGetUser) {
          let resultadoUser = resultadoGetUser.detail.response[0];
          this.target_first_name = resultadoUser.first_name;
          this.target_last_name = resultadoUser.last_name;
          console.log("Datos Usuario_Destino recibidos.");
          this.$.dialogAlert.open();
        }

        mostrarResultadoGetTargetAccount(resultadoGetAccount){
          let resultadoAccount = resultadoGetAccount.detail.response[0];
          this.target_id_user = resultadoAccount.id_user;
          this.target_balance = resultadoAccount.balance;
          this.target_transactions = resultadoAccount.transactions;
          console.log("Datos Cuenta_Destino recibidos.");
          this.$.getTargetUser.generateRequest();
        }

        mostrarResultadoTransferenciaDebito(resultadoPostTransfDebito) {
          this.realizarTransferenciaCredito();
        }

        mostrarResultadoTransferenciaCredito(resultadoPostTransfCredito) {
          this.mensajeExitoso = true;
          this.$.dialogAlert.close();
          this.$.dialogFinal.open();
          //this.transferenciaExitosa();
        }

        ejecutarGetUsers(){
          this.origin_id_account = sessionStorage.getItem("origin_id_account");
          this.target_id_account = "";
          this.target_name = "";
          this.amount = "";
          this.error_amount = false;
          this.error_target_id_account = false;
          this.aceptarInhabilitado = false;
          this.mensajeDialogPopUp1 = ""
          this.$.getOriginUser.generateRequest();
        }

        mostrarError(error) {
          if (error.status = 205) {
            console.log(error);
          } else {
            alert("Error status: " + error.status + " Error detail: " + error.detail);
          };
        }

        mostrarErrorTargetUser(error) {
          if (error.status = 404) {
            this.target_first_name = "<<< Nombre usuario no verificado >>>";
            this.target_last_name = "";
            this.$.dialogAlert.open();
          } else {
            alert("Error: " + error.status + " " + error);
          };
        }

        mostrarErrorTargetAccount(error) {
          if (error.status = 404) {
            this.mensajeDialogPopUp1 = "La CUENTA DESTINO no es correcta."
            this.$.dialogPopup.open();
            this.aceptarInhabilitado = false;
            this.error_target_id_account = false;
          } else {
            alert("Error: " + error.status + " " + error);
          };
        }

        verificarDatosTransferenciaAmount() {
          if (isNaN(+this.amount) == true) {
            this.error_amount = true;
            this.mensajeDialogPopUp1 = "El IMPORTE debe ser numérico.";
          } else {
            if (Number(+this.amount) <= 0) {
              this.error_amount = true;
              this.mensajeDialogPopUp1 = "El IMPORTE de la transferencia debe ser MAYOR A CERO.";
            };
          };
          if (this.error_amount == true) {
            this.$.dialogPopup.open();
            this.error_amount = false;
            this.aceptarInhabilitado = true;
          } else {
            this.aceptarInhabilitado=true;
            this.$.getOriginAccount.generateRequest()
          };
        }

        verificarDatosTransferenciaOriginAccount(){
          if (+this.origin_balance < +this.amount) {
            this.error_amount = true;
            this.mensajeDialogPopUp1 = "El SALDO de su cuenta origen seleccionada es INSUFICIENTE.";
          };
          if (this.error_amount == true) {
            this.$.dialogPopup.open();
            this.aceptarInhabilitado = false;
            this.error_amount = false;
          } else {
            this.verificarDatosTransferenciaTargetAccount();
          };
        }

        verificarDatosTransferenciaTargetAccount() {
          if (isNaN(+this.target_id_account) == true) {
            this.error_target_id_account = true;
            this.mensajeDialogPopUp1 = "La CUENTA DESTINO debe ser numérica.";
          } else {
            if (Number(+this.target_id_account) <= 0) {
              this.error_target_id_account = true;
              this.mensajeDialogPopUp1 = "La CUENTA DESTINO debe ser mayor que CERO.";
            } else {
              if (Number(+this.target_id_account) == Number(+this.origin_id_account)) {
                this.error_target_id_account = true;
                this.mensajeDialogPopUp1 = "La CUENTA DESTINO no puede ser la misma que la CUENTA ORIGEN.";
              };
            };
          };

          if (this.error_target_id_account == true) {
            this.$.dialogPopup.open();
            this.aceptarInhabilitado = false;
            this.error_target_id_account = false;
          } else {
            this.aceptarInhabilitado=true;
            this.$.getTargetAccount.generateRequest();
          };

        }

        mostrarAceptar() {
          this.aceptarInhabilitado=false;
          this.$.dialogPopup.close();
        }

        realizarTransferenciaDebito() {
          let fecha = new Date();
          let actualDate = fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();
          let idTransaction = (Number(+this.origin_id_account) * 100) + this.origin_transactions.length + 1
          let montoNum = parseFloat(this.amount);
          let montoDosDigitos = montoNum.toFixed(2);
          montoDosDigitos = +montoDosDigitos * -1
          this.requestBody = {
            "transactions": {
              "id_transaction": idTransaction,
              "date": actualDate,
              "description": "Transferencia a cuenta #" + this.target_id_account,
              "amount": +montoDosDigitos
            }
          };
          this.$.postTransferenciaDebito.generateRequest();
        }

        realizarTransferenciaCredito() {
          let fecha = new Date();
          let actualDate = fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();
          let idTransaction = (Number(+this.target_id_account) * 100) + this.target_transactions.length + 1
          let montoNum = parseFloat(this.amount);
          let montoDosDigitos = montoNum.toFixed(2);
          this.requestBody = {
            "transactions": {
              "id_transaction": idTransaction,
              "date": actualDate,
              "description": "Transferencia desde cuenta #" + this.origin_id_account,
              "amount": +montoDosDigitos
            }
          };
          this.$.postTransferenciaCredito.generateRequest();
        }

        transferenciaExitosa(){
          this.target_id_account = "";
          this.target_first_name = "";
          this.target_last_name = "";
          this.amount = 0;
          this.aceptarInhabilitado = false;
          this.error_amount = false;
          this.error_target_id_account = false;
          this.$.dialogPopup.close();
          this.$.dialogAlert.close();
          this.dispatchEvent(new CustomEvent('VerCuentas', {detail:{menuVisible:true}}));
          this.set('route.path', '/user-accounts');
        }

        cancelarTransferencia(){
          this.aceptarInhabilitado = false;
          this.target_first_name = "";
          this.target_last_name = "";
          this.$.dialogPopup.close();
          this.$.dialogAlert.close();
        }

        ejecutarVolver() {
          this.target_id_account = ""
          this.target_first_name = ""
          this.target_last_name = ""
          this.amount = 0
          this.aceptarInhabilitado = false;
          this.error_amount = false;
          this.error_target_id_account = false;
          this.$.dialogPopup.close();
          this.$.dialogAlert.close();
          this.set('route.path', '/user-accounts');
        }

    }
    
    window.customElements.define(TransferExecute.is, TransferExecute);
  </script>
</dom-module>
