<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../main-menu/main-menu.html">

<dom-module id="login-user">
  <template>
      <style>
        *{
      	   margin:0px;
      	   padding:0px;
         }

         body{
         background:#424949;
         }

         form{
         	background:#333333;
         	width:360px;
         	border:1px solid #4E4D4D;
         	border-radius:3px;
         	box-shadow:inset 0 0 10px #000;
         	margin:100px auto;
         }

        h1{
      	   text-align:center;
      	   color:#F8F9F9;
      	   font-weight:normal;
      	   font-size:18pt;
      	   margin:40px 0px;
      	   font-family:broadway;
       }

       h5{
          text-align:center;
          color:#F1C40F;
          font-weight:normal;
          font-size:14pt;
          margin:20px 0px;
          font-family:broadway;
        }

        input{
          width:280px;
    	    height:35px;
    	    padding:0px 10px;
    	    margin:10px 30px;
          color:#6D6D6D;
          text-align:center;
        }

        .login{
      	   width:135px;
      	   margin:20px 0px 30px 110px;
      	   height:50px;
      	   border:1px solid #232323;
      	   color:#FFF;
      	   background:#333333;
      	   box-shadow:0px 2px 0px #000;
      	   border-radius:3px;
           text-align: center;
        }

        .logout{
           width:135px;
           margin:20px 0px 30px 72px;
           height:50px;
           border:1px solid #232323;
           color:#FFF;
           background:#333333;
           box-shadow:0px 2px 0px #000;
           border-radius:3px;
           text-align: center;
        }

        .error {
          padding:0px 10px;
          height:50px;
          color:#FFF;
          background:#333333;
          text-align: center;
        }

        .grid {
          display:grid;
          text-align:center;
          color:#F1C40F;
          font-weight:normal;
          font-size:14pt;
          margin:20px 40px;
          font-family:broadway;
        }

      </style>

      <iron-ajax id="hacerLogin"
                 url="http://localhost:3101/api-uruguay/v1/login"
                 method="POST"
                 content-type="application/json"
                 handle-as="json"
                 on-response="mostrarResultadoLogin"
                 on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
                 url="http://localhost:3101/api-uruguay/v1/logout"
                 method="POST"
                 content-type='application/json'
                 handle-as="json"
                 on-response="mostrarResultadoLogout"
                 on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="getUsers"
                 url="http://localhost:3201/api-uruguay/v1/users/[[id_user]]"
                 method="GET"
                 content-type='application/json'
                 handle-as="json"
                 on-response="mostrarResultadoGetUsers"
                 on-error="mostrarError">
      </iron-ajax>

     <form hidden$="{{logado}}">
        <h1 hidden$="{{logado}}">INGRESO DE USUARIO</h1>
        <div hidden$="{{logado}}" class="row">
          <input hidden$="{{logado}}" placeholder="Ingrese su usuario" type="email" value={{email::input}} />
          <input hidden$="{{logado}}" placeholder="Ingrese su contraseña" type="password" value={{password::input}} />
          <button hidden$="{{logado}}" class="login" on-click="logar">Login</button>
          <h5 hidden$="{{errorlogin}}">Usuario o contraseña incorrecta</h5>
        </div>
      </form>

        <h1 hidden$="{{!logado}}">DATOS DE USUARIO</h1>
        <div hidden$="{{!logado}}" class="grid">
          <div hidden$="{{!logado}}" class="a">Id Usuario: [[iduser]]</div>
          <div hidden$="{{!logado}}" class="b">Nombre: [[first_name]]</div>
          <div hidden$="{{!logado}}" class="c">Apellido: [[last_name]]</div>
          <div hidden$="{{!logado}}" class="d">Email: [[email]]</div>
          <button hidden$="{{!logado}}" class="logout" on-click="deslogar">Logout</button>
        </div>

  </template>

  <script>
  /**
   * @customElement
   * @polymer
   */
  class LoginUser extends Polymer.Element {
    static get is() { return 'login-user'; }
    static get properties() {
      return {
        "email": {
          type: String
        },
        "password": {
          type: String
        },
        "logado": {
          type: Boolean,
          value: false
        },
        "id_user": {
          type: String
        },
        "first_name": {
          type: String
        },
        "last_name": {
          type: String
        },
        "errorlogin": {
          type: Boolean,
          value: true
        }
      };
    }
    mostrarResultadoLogin(resultado) {
      console.log(resultado)
      this.errorlogin = true
      alert("LOGEO CORRECTO");
      this.logado = true
      this.id_user = resultado.detail.response.id_user
      this.$.getUsers.generateRequest()
      document.querySelector('app-router').go('/home');
      route="account-trans"
    }

    mostrarResultadoGetUsers(resultadoGet) {
      this.first_name = resultadoGet.detail.response[0].first_name
      this.last_name = resultadoGet.detail.response[0].last_name
    }

    mostrarResultadoLogout(resultado) {
      this.email = ""
      this.password = ""
      this.logado = false
    }

    logar() {
      this.$.hacerLogin.body = {"email" : this.email, "password" : this.password}
      this.$.hacerLogin.generateRequest()
    }

    deslogar() {
      this.$.hacerLogout.body = {"email" : this.email}
      this.$.hacerLogout.generateRequest()
    }

    mostrarError(error) {
      if (error.status = 205) {
        this.errorlogin = false
      } else {
      alert(error)
      }
      this.logado = false
    }
  }

    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
