<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="login-user">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
      body {
        background-color: white;
      }
      :host {
        display: block;
        font-family: Helvetica;
      }

      .container{
       width: 100%;
       max-width: 300px;
       margin:   0 auto;
       padding: 10px 10px;
       top:10px;
      }

      .col-md-12{
       font-family: Helvetica;
       color: white;
       }

      .btn-primary{
        background: #0b8585!important;
      }
    </style>

    <iron-ajax id="hacerLogin"
      url="http://localhost:3101/api-uruguay/v1/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

    <div class="container"  alt="Responsive card" style='align-self: center'>
      <div class="card" style="width: 35%;" alt="Responsive card" style='align-self: center'>
      <img src='../../img/PARTNERS.png' width="70%" style='align-self: center'>
        <div class="card-body">
          <div class="form-group">
            <label for="IngresoUsuario">Usuario</label>
            <input type="email" class="form-control" id="IngresoUsuario" placeholder="Ingrese su email" value="{{email::input}}">
          </div>
          <div class="form-group">
            <label for="IngresoPassword">Contraseña</label>
            <input type="password" class="form-control" id="IngresoPassword" placeholder="Ingrese su contraseña" value="{{password::input}}">
          </div>
          <button  class="btn btn-primary" on-click="logar">login</button><br></br>
          <div hidden$={{errorlogin}} class="alert alert-danger">
           <strong>Email o contraseña incorrecta</strong>
         </div>
        </div>
    </div>

    <app-location route="{{route}}"></app-location>

  </template>

  <script>
    class LoginUser extends Polymer.Element {
      static get is() { return 'login-user'; }
      static get properties() {
        return {
          "email": {
            type: String
          },
          "password": {
            type: String
          },
          "logado": {
            type: Boolean,
            value: false
          },
          "id_user": {
            type: String
          },
          "first_name": {
            type: String
          },
          "last_name": {
            type: String
          },
          "errorlogin": {
            type: Boolean,
            value: true
          },
          "page": {
            type: String
          }
        };
      }

      mostrarResultadoLogin(resultado) {
        this.errorlogin = true;
        this.logado = true;
        this.$.logado = true;
        this.id_user = resultado.detail.response.id_user;
        sessionStorage.setItem("id_user", this.id_user);
        sessionStorage.setItem("email", this.email);
        //Se ejecuta Custom Event para dejar visible el Menu de Navegación una vez autenticado.
        //Se redirecciona Menu de Navegaciòn, Datos de Usuario
        this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
        this.set('route.path', '/user-data');
       }

      logar() {
        this.$.hacerLogin.body = {"email" : this.email, "password" : this.password};
        this.$.hacerLogin.generateRequest();
      }

      mostrarError(error) {
        if (error.status = 205) {
          this.errorlogin = false;
        } else {
          alert(error);
        };
        this.logado = false;
      }

    }

    window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
