<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="account-trans">
<template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    :host {
      display: block;
      font-family: Helvetica;
    }

    .container{
      width: 100%;
      max-width: 600px;
      margin: 65px auto;
      padding: 100px 0;
      padding-top: 10px;
    }

    .container h3{
      font-family: Helvetica;
      color: white;
    }

    .container h4{
      font-family: Helvetica;
      color: white;
    }

    .container hr{
      background: white
    }

    .container .table .thead-dark th{
      background:  #0672ca !important
    }

    .container .table-bordered th{
      background: white
    }

    .container .table-bordered td{
      background: white
    }

    .btn-primary{
      background: #0b8585!important;
    }

  </style>

  <iron-ajax auto ="" id="getAccounts"
      url="http://localhost:3301/api-uruguay/v1/accounts/[[id_account]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetAccounts"
      on-error="mostrarError">
  </iron-ajax>

  <div class="container">
    <h3 class="col-md-6">Transacciones </h3>
    <hr></hr>
    <h4 class="col-md-5">Cuenta: [[id_account]]</h4>
      <table class="table table-bordered">
       <thead class="thead-dark">
         <tr>
           <th scope="col">ID Transacción</i></th>
           <th scope="col">Fecha</th>
           <th scope="col">Descripción</th>
           <th scope="col">Monto</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountsTrans" items="{{transactions}}">
         <tr>
           <th scope="row">{{item.id_transaction}}</th>
           <td>{{item.date}}</td>
           <td>{{item.description}}</td>
           <td>{{item.amount}}</td>
         </tr>
       </template>
      </table>
  </div>

  <app-location route="{{route}}"></app-location>

</template>

    <script>
      class AccountTrans extends Polymer.Element {
        static get is() { return 'account-trans'; }
        static get properties() {
          return {
            id_account:{
              type: Number,
              value:sessionStorage.getItem("id_account")
            },
            transactions: {
              type: Array
            }
          };
        }

        mostrarResultadoGetAccounts(resultadoGetAccount){
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          console.log("Recibidos datos del cuentas:");
          this.transactions = resultadoGetAccount.detail.response[0].transactions;
        }

        mostrarError(error) {
          if (error.status = 205) {
            this.errorlogin = false;
          } else {
          alert(error);
          };
        }

        ejecutarGetAccounts(){
          this.id_account = sessionStorage.getItem("id_account");
          this.$.getAccounts.generateRequest();
        }

      }

    window.customElements.define(AccountTrans.is, AccountTrans);
  </script>
</dom-module>
