<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="user-confirm">
<template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    :host{
      display: block;
      font-family: Helvetica;
    }

    .container{
      width: 100%;
      max-width: 600px;
      margin: 65px auto;
      padding: 100px 0;
      padding-top: 10px;
    }

    .container h3{
      color: white
    }

    .container hr{
      background: white
    }

    .container h4{
      padding: 20px, 20px;
      display: inline-block;
      font-family: Helvetica;
      color: white;
    }

    .container .table .thead-dark th{
      background:  #0672ca !important
    }

    .container .table-bordered th{
      background: white
    }

    .container .table-bordered td{
      background: white
    }

    .btn-primary{
      background: #0b8585!important;
    }
    .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        height: auto;
        position:fixed;
        text-align:center;
        vertical-align: middle;
        top:100px;
        width: 100%;
        z-index:10000;
      }

      .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: 100%;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 100%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
      }
    </style>

<iron-ajax auto="" id="getSolicitudes"
    url="http://localhost:3301/api-uruguay/v1/solicitudes/[[id_pagador]]"
    method="GET"
    content-type='application/json'
    handle-as="json"
    on-response="mostrarResultadoGetSolicitudes"
    on-error="mostrarError">
  </iron-ajax>

    <iron-ajax id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/[[id_cobrador]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <div class="container">
      <h3 class="col-md-5">Solicitudes</h3>
      <hr></hr>
      <table name="tableSolicitudes" id="tableSolicitudes" class="table table-bordered">
       <thead class="thead-dark">
         <tr>
          <th scope="col">Fecha</i></th>
          <th scope="col">Contacto</th>
          <th scope="col">Importe</th> 
          <th scope="col">Estado</th> 
          <th scope="col">Opciones</th> 
         </tr>
       </thead>
       <template is="dom-repeat" id="datosCobradores" items="{{datosCobradores}}" as="datosCobradores">
         <tr id = "1">
           <td id="fecha">{{datosCobradores.fecha}}</td>
           <td id="contacto">{{datosCobradores.first_name}} {{datosCobradores.last_name}}</td>
           <td id="importe">{{datosCobradores.importe}}</td>
           <td id="estado">{{datosCobradores.estado}}</td>
           <td id="opciones">
            <button id = "btnAceptar" class="btn btn-primary" on-click="eventoAceptar" data-args$="[[id_cobrador]]">Aceptar</button>
            <button id = "btnRechazar" class="btn btn-primary" on-click="eventoRechazar" data-args$="[[id_cobrador]]">Rechazar</button>
           </td>
          
         </tr>
       </template>
     </table>
   </div>
   <paper-dialog id="dialogAlert" class="hover_bkgr_fricc" alt="Responsive card">
      <div>
        <h6 class="alert alert-success">Confirma la transferencia?</h6>
        <hr></hr>
        <p>Importe a transferir: 200</p>
      </div>
      <br></br>
      <button class="btn btn-primary" on-click="realizarTransferenciaDebito">aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" on-click="cancelarTransferencia">cancelar</button>
      <br></br>
    </paper-dialog>

   <app-location route="{{route}}"></app-location>

</template>

    <script>

      class UserConfirm extends Polymer.Element {
        static get is() { return 'user-confirm'; }
        static get properties() {
          return {
            id_pagador:{
              type:String,
              value:sessionStorage.getItem("id_user")
            },
            fecha:{
              type: Date
            },
            id_cobrador: {
              type: String
            },
            importe: {
              type: String
            },
            estado: {
              type: String
            },
            datosCobradores: {
              type: Array,
              value:[]
            },
            solicitudes: {
              type: Array,
              value:[]
            }
          };
        }

        mostrarResultadoGetUsers(resultadoGetUser) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
                 
          this.first_name = resultadoGetUser.detail.response[0].first_name;
          this.last_name = resultadoGetUser.detail.response[0].last_name;
  
          this.push('datosCobradores', {"fecha": this.fecha,"estado": this.estado,"importe": this.importe,"first_name": this.first_name, "last_name": this.last_name});
         console.log(this.datosCobradores.length)
        }

        eventoAceptar(){
         alert("Aceptar el cobro");
        }
        

        mostrarError(error) {
          if (error.status = 205) {
            this.errorlogin = false
          } else {
            alert(error)
          };
        }

        mostrarResultadoGetSolicitudes(resultadoGetSolicitudes){
          this.solicitudes = [];
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          console.log("Recibidas solicitudes de usuario");
          this.solicitudes = resultadoGetSolicitudes.detail.response;
          console.log(this.solicitudes);
          console.log(this.solicitudes.length);
          
          for (var x=0; x<(this.solicitudes.length); x++){
            this.id_cobrador = this.solicitudes[x].id_cobrador;
            console.log(this.solicitudes[x]);
            this.fecha = this.solicitudes[x].fecha;
            this.estado = this.solicitudes[x].estado;
            this.importe = this.solicitudes[x].importe;
            console.log("valor de x = "+ x);
            this.$.getUsers.generateRequest();
          }
        }


        ejecutarGetUsers() {
          this.id_user = sessionStorage.getItem("id_user");
          datosCobradores = []
          this.$.getUsers.generateRequest();
        }

    }

    window.customElements.define(UserConfirm.is, UserConfirm);
  </script>
</dom-module>
