<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../shared-styles/shared-styles.html">

<dom-module id="user-accounts">
<template>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style>
    :host{
      display: block;
      font-family: Helvetica;
    }

    .container{
      width: 100%;
      max-width: 600px;
      margin: 65px auto;
      padding: 100px 0;
      padding-top: 10px;
    }

    .container h3{
      color: white
    }

    .container hr{
      background: white
    }

    .container h4{
      padding: 20px, 20px;
      display: inline-block;
      font-family: Helvetica;
      color: white;
    }

    .container .table .thead-dark th{
      background:  #0672ca !important
    }

    .container .table-bordered th{
      background: white
    }

    .container .table-bordered td{
      background: white
    }

    .btn-primary{
      background: #0b8585!important;
    }

    </style>

    <iron-ajax auto="" id="getUsers"
      url="http://localhost:3201/api-uruguay/v1/users/[[id_user]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetUsers"
      on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="getAccounts"
      url="http://localhost:3301/api-uruguay/v1/accounts/[[id_account]]"
      method="GET"
      content-type='application/json'
      handle-as="json"
      on-response="mostrarResultadoGetAccounts"
      on-error="mostrarError">
    </iron-ajax>

    <div class="container">
      <h3 class="col-md-5">Peticiones</h3>
      <hr></hr>
      <table name="tableAccounts" id="tableAccounts" class="table table-bordered">
       <thead class="thead-dark">
         <tr>
          <th scope="col">Fecha</th> 
          <th scope="col">Contacto</i></th>
           <th scope="col">Moneda</th>
           <th scope="col">Importe</th>
           <th scope="col">Opciones</th>
         </tr>
       </thead>
       <template is="dom-repeat" id="accountUser" items="{{accountsAccount}}" as="accountAccount">
         <tr id = "1">
           <th id= "id_account" scope="row">{{accountAccount.id_account}}</th>
           <td id="currency">{{accountAccount.currency}}</td>
           <td id="balance">{{accountAccount.balance}}</td>
           <td><button id = "btnVerTransf" class="btn btn-primary" on-click="operativaVerTransferencias" data-args$="[[accountAccount.id_account]]">ver transacciones</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button id = "btnTransferir" class="btn btn-primary" on-click="operativaTransferir" data-args$="[[accountAccount.id_account]]">transferir</button></td>
         </tr>
       </template>
     </table>
   </div>

   <app-location route="{{route}}"></app-location>

</template>

    <script>

      class UserAccounts extends Polymer.Element {
        static get is() { return 'user-accounts'; }
        static get properties() {
          return {
            id_user:{
              type:String,
              value:sessionStorage.getItem("id_user")
            },
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            email: {
              type: String
            },
            accountsAccount: {
              type: Array,
              value:[]
            },
            id_account:{
              type:String
            },
            currency: {
              type: String
            },
            balance: {
              type: Number
            }
          };
        }

        mostrarResultadoGetUsers(resultadoGetUser) {
          //Se ejecuta Custom Event para dejar visible el Menu de Navegación por si se hizo Reload
          this.dispatchEvent(new CustomEvent('MenuVisible', {detail:{menuVisible:true}}));
          this.first_name = resultadoGetUser.detail.response[0].first_name;
          this.last_name = resultadoGetUser.detail.response[0].last_name;
          this.email = resultadoGetUser.detail.response[0].email;

          let accountsUser = resultadoGetUser.detail.response[0].accounts;
          sessionStorage.setItem("id_account", accountsUser[0].id_account);
          for (var x=0; x<(accountsUser.length); x++){
            this.id_account = accountsUser[x].id_account;
            this.$.getAccounts.generateRequest();
          }
        }

        mostrarError(error) {
          if (error.status = 205) {
            this.errorlogin = false
          } else {
            alert(error)
          };
        }

        mostrarResultadoGetAccounts(resultadoGetAccount){
          console.log("Recibidos datos de cuentas");
          let id_account= resultadoGetAccount.detail.response[0].id_account;
          let currency = resultadoGetAccount.detail.response[0].currency;
          let balance = resultadoGetAccount.detail.response[0].balance;
          this.push('accountsAccount', {"id_account": id_account, "currency": currency, "balance": balance});
        }

        operativaVerTransferencias(dataArgs){
          let accountSelected = dataArgs.target.getAttribute('data-args');
          sessionStorage.setItem("id_account", this.id_account);
          let idAccount = {"detail":{"id_account": accountSelected}};
          this.set('route.path', '/account-trans');
          this.dispatchEvent(new CustomEvent('VerTransacciones', idAccount));
        }

        ejecutarGetUsers() {
          this.id_user = sessionStorage.getItem("id_user");
          this.accountsAccount = [];
          this.$.getUsers.generateRequest();
        }

        operativaTransferir(dataArgs){
          let accountSelected = dataArgs.target.getAttribute('data-args');
          let idAccount = {"detail":{"origin_id_account": accountSelected}};
          this.dispatchEvent(new CustomEvent('EjecutarTransferencia', idAccount));
        }

    }

    window.customElements.define(UserAccounts.is, UserAccounts);
  </script>
</dom-module>
